<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <title>Selling.com</title>
    </head>
    <body>
        <nav>
            <h4>Selling.com</h4>
            <ul>
                <li><a href="/home">The Second-hand Market</a></li>
                {{#if username}}
                <li><a href="/sell">Sell Something</a></li>
                <li><a href="/favourite">Your favourite</a></li>
                <li><a href="/profile">Your Profile: {{username}} </a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        <div class="container mt-5">
            <h2>The Second-hand Market</h2>
            <div class="row">
                {{#each showProduct}}
                <div class="col-sm-3">
                    <div class="card">
                        <img class="image" src="{{productImg}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{productName}}</h5>
                            <p class="card-text">{{productContent}}</p>
                        </div>
                        <div class="card-footer">
                            <form action ="/auth/delete-product/{{productId}}" method="POST">
                                <input type="hidden" name="id" value={{productId}}>
                                <button type="submit" class="btn btn-primary">Delete Product</button>
                            </form>
                            <form action ="/auth/edit-product/{{productId}}" method="POST">
                                <input type="hidden" name="id" value={{productId}}>
                                <button type="submit" class="btn btn-primary">Edit Product</button>
                            </form>
                            <form action ="/auth/add-to-favourite/{{productId}}" method="POST">
                                <input type="hidden" name="id" value={{productId}}>
                                <button type="submit" class="btn btn-primary">Add to Favourite</button>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each }}
            </div>
        </div>
        {{#if message }}
           <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
        <div id="footer">
			<div class="background">
				<p class="footnote">
					&copy; Copyirght &copy; 2021. <a href="/home">Selling.com</a> all rights reserved.
				</p>
			</div>
		</div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    </body>
</script>
</html>